.full-container{
  width: 75%;
  margin: -30px auto 0 auto;
}

.heading {
  background: black;
  color: white;
  text-align: center;
  padding: 14px;
  border-radius:3px;
}

h2{
  display: inline;
  padding: 0 0 0 8px;
}

.ui{
  background: transparent;
  padding: 10px;
  border-bottom:1px solid lightgrey;
  }

.ui .fa {
  font-size: 1.5em;
}

.player {
  margin: -30px 0 0 0;
}
